<div class='card'>
	<div class='cardNumber'>
		<div class='number'>{{card}}</div>
	</div>	

	<div class='cardSuit'>{{naipe}}</div>

	<div class='cardNumber'>
		<div class='number right'>{{card}}</div>
	</div>
</div>