<h1>Welcome to OpenBlacJack - {{user}}</h1>

<section id='cards' class='your table'></section>
<section class='buttons hidden'>
	<button id='newCard'>New Card</button>
	<button id='done'>I'm done</button>	
</section>


<section class='opponentCard'>
	<h2 id='opponentName'></h2>
	<section id='otherCards' class='other table'></section>
</section>

<div class='msg'></div>

