<h1>Welcome to OpenBlacJack - {{user}}</h1>

<section id='cards' class='hand'></section>


<section class='buttons'>
	<button id='newCard'>New Card</button>
	<button id='done'>I'm done</button>	
</section>

