<h1>Welcome to Open BlackJack!</h1>
<section>
	<label for="user">Whats yout Name?</label>
	<input type="text" name='user' id="user"/>
	<button id='play'>Play</button>
</section>

<section id='game'></section>